/**=== == == == == == == == == == == == == == == == == == == == == 
=>                     reset css
== == == == == == == == == == == == == == == == == == == == === * */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: thin solid currentColor;
  border-width: 0;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  overscroll-behavior-y: contain;
  -webkit-overflow-scrolling: touch;
  background-color: white;
}
body {
  position: relative;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  color: #333;
  line-height: 1.6;
  word-spacing: 0;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "bodega-serif", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 700;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  text-indent: 0;
}
th {
  text-align: left;
  font-weight: 400;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  max-width: 100%;
  object-fit: cover;
}
button,
input,
optgroup,
option,
select,
textarea {
  border-radius: 0;
  outline: 0;
}
hr {
  height: 0;
  color: inherit;
}
abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: 700;
}
input::-webkit-input-placeholder {
  color: #333;
}
input::-moz-placeholder {
  color: #333;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
:-moz-ui-invalid {
  box-shadow: none;
}
/**=== == == == == == == == == == == == == == == == == == == == == 
=>                     end reset
== == == == == == == == == == == == == == == == == == == == === * */
/*== == == == ==>background<== == == == == */
.main {
  background: black url("../images/common/bg.jpg") 100% 100% / cover;
  min-height: 100vh;
  width: 100vw;
  display: block;
  padding: 5vmin 0;
}
/*== == == == ==>logo<== == == == == */
#logo {
  text-align: center;
}
#logo img {
  max-width: 43vmin;
  display: block;
  margin: 0 auto;
}
#logo p {
  color: white;
  font-size: 4vmin;
  line-height: 1;
  font-weight: 300;
}
/*== == == == ==>title big<== == == == == */
.title {
  color: #c89f53;
  text-align: center;
  line-height: 1;
  font-weight: bold;
  font-size: 5vmin;
  text-transform: uppercase;
  text-shadow: 0.3em 0.3em 1em #00000082, -0.3em -0.3em 1em #00000082;
}

/*== == == == ==>title-dot<== == == == == */
.title-dot {
  display: block;
  margin: 0 auto;
  position: relative;
  color: #c89f53;
  text-align: center;
  line-height: 1;
  font-weight: bold;
  font-size: 3vmin;
  text-transform: uppercase;
  text-shadow: 0.3em 0.3em 1em #00000082, -0.3em -0.3em 1em #00000082;
}
.title-dot::before,
.title-dot::after {
  content: "..........";
  position: absolute;
  top: 0.8vmin;
  display: block;
  line-height: 0;
}
.title-dot::before {
  right: 100%;
}
.title-dot::after {
  left: 100%;
}
.title-dot span {
  background: #fff;
}
/*== == == == ==>week<== == == == == */
.week .date {
  display: flex;
  justify-content: center;
}
.week .date p {
  width: 50%;
  color: white;
  font-size: 3vmin;
}
.week .date p:nth-child(1) {
  text-align: right;
  padding-right: 1vmin;
}
.week .date p:nth-child(2) {
  text-align: left;
  padding-left: 1vmin;
}
/*== == == == ==>buttons<== == == == == */
.buttons {
  display: flex;
  justify-content: space-between;
  /* width: 53vmin; */
  width: 14.8em;
  margin: 0 auto;
  font-size: 3.6vmin;
  margin-top: 1.1em;
}
.buttons .btn {
  background: #c89f53;
  color: white;
  /* font-size: 3.6vmin; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48%;
  text-align: center;
  border-radius: 1vmin;
  cursor: pointer;
  box-shadow: 0.3em 0.3em 1em #00000080;
}
.buttons .btn i {
  font-size: 0.8em;
  margin-left: 1vmin;
}
.buttons .btn:hover {
  opacity: 0.7;
}
/*== == == == ==>map<== == == == == */
.map iframe {
  width: 50vmin;
  height: 40vmin;
  display: block;
  margin: 0 auto;
}
/**=== == == == == == == == == == == == == == == == == == == == == 
=>                     page1
== == == == == == == == == == == == == == == == == == == == === * */
#page1 .title {
  /* margin-top: 4vmin; */
  margin-top: 0.8em;
}
#page1 .title-dot {
  width: 2.5em;
  margin-top: 1em;
}
#page1 .buttons {
  margin-top: 4vmin;
}
#page1 .map {
  margin-top: 4vmin;
}
/**=== == == == == == == == == == == == == == == == == == == == == 
=>                     page
== == == == == == == == == == == == == == == == == == == == === * */
#page2 .title-dot {
  width: 49vmin;
}
#page2 .title-dot1 {
  margin-top: 4vmin;
}
#page2 .title-dot1::before,
#page2 .title-dot1::after {
  content: "...........";
}
#page2 .title-dot2 {
  margin-top: 3vmin;
}
#page2 .title-dot2::before,
#page2 .title-dot2::after {
  content: "............................";
}
#page2 .btn {
  background: #c89f53;
  color: white;
  font-size: 3.6vmin;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 25vmin;
  margin: 0 auto;
  text-align: center;
  border-radius: 1vmin;
  cursor: pointer;
  margin-top: 3vmin;
  border: 0.5vmin dotted white;
}
#page2 .btn:hover {
  opacity: 0.7;
}
#page2 .map {
  margin-top: 4vmin;
}
@media (max-width: 860px) {
  #logo img {
    max-width: 53.75vmin;
  }

  #logo p {
    font-size: 5vmin;
  }

  .week .date p {
    font-size: 3.75vmin;
  }

  .title {
    font-size: 6.25vmin;
  }
  .title-dot {
    font-size: 3.75vmin;
  }

  .buttons {
    font-size: 4.5vmin;
  }

  .map iframe {
    width: 70vmin;
    height: 50vmin;
  }
}

@media (max-width: 520px) {
  #logo img {
    max-width: 64.5vmin;
  }

  #logo p {
    font-size: 6vmin;
  }

  .week .date p {
    font-size: 4.5vmin;
  }

  .title {
    font-size: 6.25vmin;
  }
  .title-dot {
    font-size: 4.5vmin;
  }

  .buttons {
    font-size: 5vmin;
  }

  .map iframe {
    width: 80vmin;
    height: 60vmin;
  }
}
